<nz-space [nzSize]="12" nzDirection="vertical" class="w-100">
  <div *nzSpaceItem>
    <h2>Datos básicos del Partícipe</h2>
    <span>Datos del Partícipe</span>
  </div>

  <!-- // TODO- PERSONA NATURAL -->
  <nz-space [nzSize]="2" nzDirection="vertical" class="w-100" *nzSpaceItem>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-card
          class="card-option"
          [class.active]="tipoPersona === 1"
          (click)="elegirTipoPersona(1)"
        >
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col class="icon-box">
              <i nz-icon nzType="user" nzTheme="outline"></i>
            </div>
            <div nz-col class="text-box">
              <h4>Persona Natural</h4>
              <p>Individuo con obligaciones tributarias</p>
            </div>
          </div>
        </nz-card>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-card
          class="card-option"
          [class.active]="tipoPersona === 2"
          (click)="elegirTipoPersona(2)"
        >
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col class="icon-box">
              <i nz-icon nzType="bank" nzTheme="outline"></i>
            </div>
            <div nz-col class="text-box">
              <h4>Persona Jurídica</h4>
              <p>Entidad empresarial con obligaciones fiscales</p>
            </div>
          </div>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-space>

  <form nz-form [nzLayout]="'vertical'" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *nzSpaceItem>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Tipo Documento </nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label>Número Documento</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Nombres </nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Apellido Paterno</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Apellido Materno</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Fecha Nacimiento </nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Lugar Nacimiento</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Estado civil</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Nacionalidad</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label>Género</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>


    <nz-divider nzOrientation="left"></nz-divider>
    <span>Datos del Cónyuge</span>

    <nz-space [nzSize]="2" nzDirection="vertical" class="w-100" *nzSpaceItem>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Tipo Documento Cónyuge</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="16">
      <nz-form-item>
        <nz-form-label>Número Documento Cónyuge</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </nz-space>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Nombres </nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Apellido Paterno</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label>Apellido Materno</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input nz-input placeholder="input placeholder" />
        </nz-form-control>
      </nz-form-item>
    </div>

  </form>


</nz-space>