

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

// .card-option {
//   border: 2px solid #d9d9d9;
//   border-radius: 8px;
//   cursor: pointer;
//   transition: all 0.3s ease;
// }

// .card-option.active {
//   border-color: #1890ff;
//   background-color: #e6f7ff;
// }

// .icon-box {
//   font-size: 24px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .text-box h4 {
//   margin: 0;
//   font-size: 16px;
// }

// .text-box p {
//   margin: 0;
//   font-size: 12px;
//   color: #595959;
// }
