<h2>Datos básicos del Partícipe</h2>
<span>Datos del Partícipe</span>

<!-- <form nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="6" >Field A</nz-form-label>
    <nz-form-control
    [nzSm]="6" [nzXs]="6"
      nzErrorTip="Please input your username!"
    >
      <input nz-input placeholder="input placeholder" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="6" >Field B</nz-form-label>
    <nz-form-control
    [nzSm]="6" [nzXs]="6"
      nzErrorTip="Please input your Password!"
    >
      <input nz-input placeholder="input placeholder" />
    </nz-form-control>
  </nz-form-item>
</form> -->


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box" style="background-color: blanchedalmond;">col-6
    <button nz-button nzType="default">Persona Natural</button>
  </div>
</div>
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">col-6
    <button nz-button nzType="default">Persona Jurídica</button>
  </div>
</div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="14"><div class="inner-box"
    style="background-color: blanchedalmond;">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
</div>


<nz-divider nzOrientation="left"></nz-divider>
<span>Datos Laborales del Participe</span>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="9"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="15"><div class="inner-box"
    style="background-color: blanchedalmond;">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
</div>

<nz-switch [(ngModel)]="switchValue"></nz-switch>


<nz-divider nzOrientation="left"></nz-divider>
<span>Datos del Domicilio (Todas las comunicaciones y/o notificaciones se enviarán a esta dirección).
</span>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="15"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="9"><div class="inner-box">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box" style="background-color: rgb(208, 205, 255);">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">col-6</div></div>
</div>


<span>
  * Domiciliado: (i) Se considera Persona Juridica Domiciliada cuando se constituye dentro del territorio Peruano, (Ji) Se considera Persona Juridica No Domiciliada cuando se constituye fuera del territorio Peruano. Ver art. P del D. S. NP 179-2004-EF.
</span>