<h2>Datos básicos del Partícipe</h2>
<span>Datos del Partícipe</span>

<nz-row [nzGutter]="16" class="grid-container">
  <!-- Persona Natural -->
  <nz-col [nzSpan]="12">
    <div
      class="radio-card"
      [class.active]="tipoPersona === 'NATURAL'"
      (click)="tipoPersona = 'NATURAL'"
    >
      <div class="radio-content">
        <div class="icon-box">
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </div>
        <div class="text-box">
          <h4>Persona Natural</h4>
          <p>Individuo con obligaciones tributarias</p>
        </div>
      </div>
    </div>
  </nz-col>

  <!-- Persona Jurídica -->
  <nz-col [nzSpan]="12">
    <div
      class="radio-card"
      [class.active]="tipoPersona === 'JURIDICO'"
      (click)="tipoPersona = 'JURIDICO'"
    >
      <div class="radio-content">
        <div class="icon-box">
          <i nz-icon nzType="bank" nzTheme="outline"></i>
        </div>
        <div class="text-box">
          <h4>Persona Jurídica</h4>
          <p>Entidad empresarial con obligaciones fiscales</p>
        </div>
      </div>
    </div>
  </nz-col>
</nz-row>



<!-- <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box" style="background-color: blanchedalmond;">col-6
    <button nz-button nzType="default">Persona Natural</button>
  </div>
</div>
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">col-6
    <button nz-button nzType="default">Persona Jurídica</button>
  </div>
</div>
</div> -->


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="10"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="14"><div class="inner-box"
    style="background-color: blanchedalmond;">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
</div>


<nz-divider nzOrientation="left"></nz-divider>
<span>Datos Laborales del Participe</span>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="9"><div class="inner-box"
    style="background-color:aqua">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="15"><div class="inner-box"
    style="background-color: blanchedalmond;">col-6</div></div>
</div>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">col-6</div></div>
</div>

<nz-switch [(ngModel)]="switchValue"></nz-switch>


<nz-divider nzOrientation="left"></nz-divider>
<span>Datos del Domicilio (Todas las comunicaciones y/o notificaciones se enviarán a esta dirección).
</span>


<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="15"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="9"><div class="inner-box">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="24"><div class="inner-box" style="background-color: blanchedalmond;">col-6</div></div>
</div>

<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box" style="background-color: rgb(208, 205, 255);">col-6</div></div>
  <div nz-col class="gutter-row" [nzSpan]="12"><div class="inner-box">col-6</div></div>
</div>


<span>
  * Domiciliado: (i) Se considera Persona Juridica Domiciliada cuando se constituye dentro del territorio Peruano, (Ji) Se considera Persona Juridica No Domiciliada cuando se constituye fuera del territorio Peruano. Ver art. P del D. S. NP 179-2004-EF.
</span>