[nz-form] {
  max-width: 600px;
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 80px;
}

.register-area {
  margin-bottom: 8px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

