<nz-steps [nzCurrent]="1" nzDirection="vertical">
  <nz-step
    nzTitle="Datos para la Inversión"
    nzDescription="Datos básicos de la Inversión"
  ></nz-step>
  <nz-step
    nzTitle="Datos del Partícipe"
    nzDescription="Datos básicos del Partícipe"
  ></nz-step>
  <nz-step
    nzTitle="Cuentas Bancarias"
    nzDescription="Datos de Cuentas Bancarias"
  ></nz-step>
  <nz-step
    nzTitle="Vinculación"
    nzDescription="Vinculación con CONEXA"
  ></nz-step>
  <nz-step
    nzTitle="Origen de Fondos"
    nzDescription="Declaración Jurada de Origen de Fondos"
  ></nz-step>
  <nz-step
    nzTitle="Persona Políticamente Expuesta"
    nzDescription="Condición de Persona Políticamente Expuesta"
  ></nz-step>
  <nz-step
    nzTitle="Subida de documentos"
    nzDescription="Subir archivos de tu documento de identidad"
  ></nz-step>
</nz-steps>
