<div class="container">
  <app-header></app-header>

  <div class="content px-20">
    <div nz-row nzJustify="center">
      <div nz-col nzSpan="8">
        <nz-steps
          [nzCurrent]="index"
          nzDirection="vertical"
          (nzIndexChange)="cambiar($event)"
        >
          <nz-step
            [nzStatus]="index === 0 ? 'process' : 'wait'"
            nzTitle="Datos para la Inversión"
            nzDescription="Datos básicos de la Inversión"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 1 ? 'process' : 'wait'"
            nzTitle="Datos del Partícipe"
            nzDescription="Datos básicos del Partícipe"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 2 ? 'process' : 'wait'"
            nzTitle="Cuentas Bancarias"
            nzDescription="Datos de Cuentas Bancarias"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 3 ? 'process' : 'wait'"
            nzTitle="Vinculación"
            nzDescription="Vinculación con CONEXA"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 4 ? 'process' : 'wait'"
            nzTitle="Origen de Fondos"
            nzDescription="Declaración Jurada de Origen de Fondos"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 5 ? 'process' : 'wait'"
            nzTitle="Persona Políticamente Expuesta"
            nzDescription="Condición de Persona Politicamente Expuesta"
          ></nz-step>
          <nz-step
            [nzStatus]="index === 6 ? 'process' : 'wait'"
            nzTitle="Subida de documentos"
            nzDescription="Subir archivos de tu documento de identidad"
          ></nz-step>
        </nz-steps>
      </div>
      <div nz-col nzSpan="16">
        @switch(index){
            @case (0){
                <span>0</span>
            }
            @case (1){
                <span>1</span>
            }
            @case (2){
                <span>2</span>
            }
            @case (3){
                <span>3</span>
            }
            @case (4){
                <span>4</span>
            }
            @case (5){
                <span>5</span>
            }
            @case (6){
                <span>6</span>
            }
        }
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
