<form
  nz-form
  [nzLayout]="'vertical'"
  nz-space
  [nzSize]="12"
  nzDirection="vertical"
  class="w-100"
>
  <div *nzSpaceItem>
    <h2>Datos básicos de la Inversión</h2>
    <span>Datos Básicos para el contrato de Inversión:</span>
  </div>

  <!-- TIPO DE PARTICIPE -->
  <nz-space [nzSize]="2" nzDirection="vertical" class="w-100" *nzSpaceItem>
    <div nz-space [nzSize]="8" *nzSpaceItem>
      <span *nzSpaceItem>Tipo de Particpe: </span>
      <i
        nz-icon
        nzType="info-circle"
        nzTheme="outline"
        nzTheme="twotone"
        *nzSpaceItem
      ></i>
    </div>

    <div nz-row [nzGutter]="24" *nzSpaceItem>
      <div nz-col [nzSpan]="12">
        <nz-card (click)="elegirTipoParticipe(1)">
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col>
              <div class="participe_logo">
                <span>A</span>
              </div>
            </div>
            <div nz-col>
              <div nz-row>Partícipe Clase A</div>
              <div nz-row>Mayor rendimiento objetivo</div>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card (click)="elegirTipoParticipe(2)">
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col>
              <div class="participe_logo">
                <span>B</span>
              </div>
            </div>
            <div nz-col>
              <div nz-row>Partícipe Clase B</div>
              <div nz-row>Rendimiento fijo garantizado</div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-space>

  <!-- MONEDA INVERSION -->
  <nz-space [nzSize]="2" nzDirection="vertical" class="w-100" *nzSpaceItem>
    <div *nzSpaceItem>
      <span>Moneda de la Inversión:</span>
    </div>
    <div nz-row [nzGutter]="24" *nzSpaceItem>
      <div nz-col [nzSpan]="12">
        <nz-card (click)="elegirTipoMoneda(1)">
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col>1</div>
            <div nz-col>
              <div nz-row>PEN</div>
              <div nz-row>Contrato de Inversión PEN</div>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-card (click)="elegirTipoMoneda(2)">
          <div nz-row [nzGutter]="16" nzAlign="middle">
            <div nz-col>1</div>
            <div nz-col>
              <div nz-row>USD</div>
              <div nz-row>Contrato de Inversión USD</div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-space>

  <div nz-row [nzGutter]="24" *nzSpaceItem>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Importe</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <input
            nz-input
            formControlName="fieldA"
            placeholder="input placeholder"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Modalidad</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
            <nz-option nzLabel="Con Distrubición" [nzValue]="1"></nz-option>
            <nz-option nzLabel="Con Reinversión" [nzValue]="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Plazo de inversión</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
            <nz-option nzLabel="36 meses" [nzValue]="1"></nz-option>
            <nz-option nzLabel="24 meses" [nzValue]="2"></nz-option>
            <nz-option nzLabel="12 meses" [nzValue]="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Frecuencia de Pagos</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
            <nz-option nzLabel="Anual" [nzValue]="1"></nz-option>
            <nz-option nzLabel="Semestral" [nzValue]="2"></nz-option>
            <nz-option nzLabel="Trimestral" [nzValue]="2"></nz-option>
            <nz-option nzLabel="Al vencimiento" [nzValue]="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="w-100" nz-space nzDirection="vertical" [nzSize]="12" *nzSpaceItem>
    <span *nzSpaceItem>Datos de Asesor Financiero:</span>
    <span style="color: rgb(220, 38, 38)" *nzSpaceItem
      >Nota: Solo se consideran asesores existentes en la base de datos sino no
      se podrá registrar el prospecto.</span
    >

    <div nz-row [nzGutter]="16" *nzSpaceItem>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>Nombres</nz-form-label>
          <nz-form-control nzErrorTip="Please input your username!">
            <input
              nz-input
              formControlName="fieldD"
              placeholder="input placeholder"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>Correo</nz-form-label>
          <nz-form-control nzErrorTip="Please input your username!">
            <input
              nz-input
              formControlName="fieldD"
              placeholder="input placeholder"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>Tipo de Documento</nz-form-label>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
              <nz-option nzLabel="DNI" [nzValue]="1"></nz-option>
              <nz-option nzLabel="CARNET DE EXTRANJERIA" [nzValue]="2"></nz-option>
              <nz-option nzLabel="PASAPORTE" [nzValue]="2"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="18">
        <nz-form-item>
          <nz-form-label>N° de Documento de Identidad</nz-form-label>
          <nz-form-control nzErrorTip="Please input your username!">
            <input
              nz-input
              formControlName="fieldD"
              placeholder="input placeholder"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
</form>
