<footer class="bg-primary w-full">
  <section class="container">
    <img
      src="assets/images/conexa-b.png"
      alt="Conexa"
      class="logo"
    />

    <div class="links">
      <ul>
        <li>
          <a href="https://www.conexa.com.pe/nosotros/" target="_blank"
          class="link-text">Nosotros</a
          >
        </li>
        <li>
          <a href="https://www.conexa.com.pe/subsidiarias/" target="_blank"
          class="link-text">Subsidiarias</a
          >
        </li>
        <li>
          <a href="https://www.conexa.com.pe/blog/" target="_blank" class="link-text">Blog</a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="https://www.conexa.com.pe/contactanos/" target="_blank"
          class="link-text">Contáctanos</a
          >
        </li>
        <li>
          <a href="https://forms.gle/3GS1gzjpKzkVQYpw5" target="_blank"
          class="link-text">Trabaja con nosotros</a
          >
        </li>
        <li>
          <a
            href="https://www.conexa.com.pe/politicas-de-privacidad/"
            target="_blank"
            class="link-text">Políticas de Privacidad</a
          >
        </li>
      </ul>
    </div>

    <div class="buttons">
      <a href="#invertir" class="btn">Quiero invertir</a>
      <a href="#financiamiento" class="btn">Busco financiamiento</a>
    </div>
  </section>
</footer>
